<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ServiceName" value="CustTransferOrderService" />
		<add key="ServiceDisplayName" value="CustTransferOrderService" />
		<add key="ServiceDescription" value="CustTransferOrderService" />
		<add key="Company" value="AP31" />
		<add key="CronExpression" value="0 0/1 * 1/1 * ? *" />
		<add key="TimeZone_" value="Brussels" />
		<add key="Run" value="0" />
		<add key="csvFilePath" value="C:\Users\Asus\source\repos\CustTransferOrderService\CustTransferOrderService\output\output.csv" />
		<add key="csvFilePathError" value="C:\Users\Asus\source\repos\CustTransferOrderService\CustTransferOrderService\outputfailed\outputfailed.csv" />
		<add key="jsonFilePath" value="C:\Users\Asus\source\repos\CustTransferOrderService\CustTransferOrderService\format\dataFormat.json" />
		<add key="DBServer" value="DESKTOP-VU15N53" />
		<add key="DBName" value="db_siswa" />
		<add key="TableName" value="dbo.customertransfer" />
		<add key="DBUser" value="DESKTOP-VU15N53\Asus" />
		<add key="DBPass" value="" />
		<add key="Timeout" value="3600" />

	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>